
<footer class="footer" style="background-color: #273036;">
     <svg  style="margin-top:5px;bottom: 0px;
     position: absolute;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273036" fill-opacity="1" d="M0,32L120,48C240,64,480,96,720,106.7C960,117,1200,107,1320,101.3L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
  
    <div class="container">

        <div class="row">
            <div class="col-sm-3">

                <nav class="footer-nav">
                    <ul>
                        <li>

                            <p>
                                <img src="https://www.readyassist.in/assets/images/logo/new_ra_logo.png" class="img-thumbnail img-responsive footerImg1" alt="Rounded Image">

                            About ReadyAssist

                        </p></li>
                        <li>
                            <p style="font-size: 10px;color: white;">One of the leading 24/7 roadside assistance service br provider for bikes & cars across India.

                            </p>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="https://www.readyassist.in/assets/icons/linkedin.svg" class="img-thumbnail img-responsive footerImg" alt="Rounded Image">
                                </div>
                                <div class="col-sm-3">
                                    <img src="https://www.readyassist.in/assets/icons/whatsapp.svg" class="img-thumbnail img-responsive footerImg" alt="Rounded Image">
                                </div>
                                <div class="col-sm-3">
                                    <img src="https://www.readyassist.in/assets/icons/facebook.svg" class="img-thumbnail img-responsive footerImg" alt="Rounded Image">
                                </div>
                                <div class="col-sm-3">
                                    <img src="https://www.readyassist.in/assets/icons/Instagram.svg" class="img-thumbnail img-responsive footerImg" alt="Rounded Image">
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-3">
                
            <nav class="footer-nav">
                <p>Quick Links
                </p>
                <ul>
                    <li><a href="#">My Subscription</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </nav>
            </div>
            <div class="col-sm-3">
                
            <nav class="footer-nav">
                <p>Our Services

                </p>
                <ul>
                    <li><a href="#">Puncture Repair</a></li>
                </ul>
            </nav>
            </div>
            <div class="col-sm-3">
                
            <nav class="footer-nav">
                <p>Contact Address

                </p>
                <ul>
                  
                    <li><p>ReadyAssist - 24hrs Vehicle Care
                    </p></li>
                    <li><address style="color: white;">
                        #16, 17th Cross, 9th Main Rd,
Sector 7, HSR Layout
Bangalore-560102
Karnataka, India



                    </address></li>
                </ul>
            </nav>
            </div>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim
                </span>
            </div>
        </div>
    </div>
</footer>
