.footer-nav ul li
{
    display: inline;
}
.footer-nav ul li a
{
    color: white;
}
.footer-nav p
{
    color: #ffcc32;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
  
}
.footerImg
{
    background:transparent;
    border: none;
    border-radius: 50px;
}
.footerImg1
{
    background:transparent;
    border: none;
    border-radius: 50px;
    height: 25px;
}